html {
  background-color: #333333;
  color: #ccc;
  font-family: "Lexend", sans-serif;
}

body {
  padding: 60px;
}

a {
  color: #ccc;
}

.container {
  display: flex;
  height: 70vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-right: 70px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 50px;
}

.alias {
  font-family: "Rubik Moonrocks", cursive;
  font-size: 5rem;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  padding: 0;
  margin: 0;
  margin-left: 40px;
  margin-top: -40px;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
}

.alias:hover,
.alias:active,
.alias:focus {
  color: #caca44;
}

.alias-container {
  
}

span._alias {
  margin: 0 6px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  animation: appear 1.5s ease-in-out;
  opacity: 1;
  transition: opacity 0.5s;
  cursor: pointer;
}

.profile-photo:hover,
.profile-photo:active,
.profile-photo:focus {
  opacity: 0.7;
}

.hidden {
  opacity: 0;
}

.visibility-hidden {
  opacity: 0;
}

.visibility-true {
  opacity: 1;
}

@keyframes appear {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.links {
  display: flex;
  margin-left: 200px;
  transition: opacity 2s ease-in-out;
  margin-top: -70px;
  /* flex-wrap: wrap; */
  /* justify-content: center; */
}

.link {
  padding: 5px 10px;
  border: 1px solid #555;
  border-radius: 10px;
  background-color: #272727;
  margin: 0 0;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s;
}

.link:hover,
.link:active,
.link:focus {
  background-color: #caca44;
  color: #000;
}

.link-ready {
  margin: 0 10px;
}

.content {
  margin: 5px 0 0 200px;
  font-size: 0.7rem;
  font-weight: 300;
  width: 450px;
  color: #bbb;
  text-shadow: 2px 1px 2px #151515;
  line-height: 18px;
  transition: all 1.5s;
}

.highlight {
  color: #eee;
  font-weight: 400;
}

._highlight {
  font-family: 'Great Vibes', cursive;
  font-size: 2rem;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.line-open {
  display: none;
}

@media screen and (max-width: 830px) {
  body {
    padding: 30px;
  }

  .container {
    margin-left: 35px;
    height: auto;
  }

  .row {
    display: flex;
    flex-direction: column;
  }

  .alias {
    margin-top: 10px;
  }

  .links {
    margin: 5px 0 0 40px;
  }

  .content {
    margin: 30px 0 0 40px;
    text-align: center;
  }

  .profile-photo {
    margin-left: 35px;
  }
}

@media screen and (max-width: 520px) {
  .alias {
    margin-top: 20px;
    font-size: 60px;
  }

  .links {
    margin-top: 10px;
  }

  .link-ready {
    margin: 0 3px;
  }

  .link {
    font-size: 17px;
  }

  .content {
    font-size: 10px;
  }
}

@media screen and (max-width: 450px) {
  .line-close {
    display: none;
  }

  .line-open {
    display: block;
  }

  .content {
    width: auto;
    margin: 30px 10px;
    font-size: 11px;
  }

  body {
    padding: 0;
  }

  .container {
    padding: 0;
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
    height: auto;
  }

  .profile-photo {
    margin-left: 0;
  }

  .alias {
    margin: 30px 0 20px 0;
    font-size: 14vw;
  }

  .links {
    display: block;
    margin: 15px 0 0 0;
    padding: 0 30px;
  }

  .row {
    margin: 0;
  }

  ._highlight {
    margin-top: 20px;
    font-size: 30px;
  }
}
