body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #181818;
  color: white;
  font-family: "Baloo Tamma 2", cursive;
}

header {
  background-color: rgb(25 30 35 / 80%);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0;
  flex-wrap: wrap;
}

.title {
  flex: 1;
  padding: 8px 0 0 75px;
  font-family: "Moirai One", cursive;
  font-size: 50px;
  font-weight: 600;
  color: #ffffff;
  text-shadow: 0 0 5px #fff, 0 0 10px #bbb, 0 0 18px #777, 0 0 22px rgb(239, 239, 58);
}

.menu {
  padding: 17px 70px 0 0;
  font-family: "Baloo Tamma 2", cursive;
  font-size: 16px;
}

.menu nav ul li:last-child {
  margin-right: 0;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

nav ul li a {
  color: #ccccbbcc;
  text-decoration: none;
  transition: 0.7s;
}

nav ul li a:hover {
  text-shadow: 0 0 5px #fff, 0 0 8px #fff;
  transition: 0.7s;
}

main {
  flex: 1;
  padding: 15px 20px;
  display: flex;
}

footer {
  background-color: rgb(25 30 35 / 80%);
  text-align: center;
  font-size: 15px;
  color: rgba(175, 175, 175);
}

.decoration-bar {
  display: flex;
  height: 10px;
  opacity: 0.3;
}

.decoration-column {
  flex: 1;
}

.footer-content {
  padding: 10px 0 12px 0;
}

.section {
  flex: 1;
  padding: 10px;
}

.section-primary {
  display: flex;
  flex-wrap: wrap;
  flex: 2;
}

.section-secondary {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin-left: 15px;
}

.show-banner {
  background-color: black;
  flex: 1;
  margin: 5px;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 10px 3px #bbbb8822;
  position: relative;
}

.banner-list {
  background-color: #000;
  flex: 0 0 calc(50% - 42px);
  margin: 5px;
  padding: 15px;
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(0, 0, 0);
  transform: scale(1);
  transition: all 1s;
}

.banner-list:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

.banner-list img {
  position: absolute;
  width: 80%;
  height: 80%;
  object-fit: contain;
  filter: grayscale(100%);
  transition: all 1s;
}

.banner-list:hover img {
  filter: grayscale(0%);
}

.banner-list.highlight {
  border: 1px solid rgba(255, 255, 255, 0.738);
  box-shadow: 0 0 8px 0px rgba(239, 239, 58, 0.738);
  transition: all 2s;
}

.virtual-light-box {
  background-color: #000;
  flex: 0 0 calc(100% - 30px);
  margin: 5px;
  padding: 10px;
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(0.9);
}

.virtual-light-box.show {
  opacity: 1;
  filter: grayscale(0%);
  transform: scale(1);
  transition: opacity 2s, transform 2s, filter 2s;
}

.virtual-light-box.hide {
  opacity: 0;
  filter: grayscale(100%);
  transform: scale(0.8);
  transition: opacity 3s, transform 3s, filter 3s;
}

.virtual-light-box img {
  position: absolute;
  width: 90%;
  height: 90%;
  object-fit: contain;
}

.button-container {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.play-button,
.pause-button {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 25px;
  cursor: pointer;
  opacity: 0.5;
}

.play-button:focus,
.pause-button:focus {
  outline: none;
}

.pattern {
  background-color: rgb(25 30 35 / 80%);
  background-image: linear-gradient(#ffffff08 1px, transparent 1px), linear-gradient(to right, #ffffff05 1px, transparent 1px);
  background-size: 15px 15px;
}